/* styles go here */
.form-field {
  margin: 0 0 10px;
}

.form-field:last-child {
  margin: 0;
}

fieldset {
  margin: 20px 0;
}

select {
  margin-bottom: 10px;
}

.recommendation {
  margin-top: 10px;
}
